/* 在這邊寫css */

*{
    font-family: Microsoft Jhenghei;
}

.portfolio{
    color:black;
    min-height: 300px;
    padding:20px;
    border: #9b9b9b solid 1px;
    margin: 2px;
    border-radius:10px;
    cursor: pointer;
    display: block;
}

.portfolio:link {
    color:black;
    text-decoration: none;
}

.portfolio:visited {
    color:black;
    text-decoration: none;
}

.portfolio:hover {
    color:black;
    border: #95d5e9 solid 3px;
    text-decoration: none;
}

.portfolio:active {
    color:black;
    text-decoration: none;
}


.header{
    padding:50px;
    min-height: 300px;
    background: url('images/cover.jpg');
    margin-bottom: 50px;
}

.circle{
    border-radius: 50%;
}

.text-align{
    text-align: center;
}

#intro-column{
    background: lightgoldenrodyellow;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(216, 216, 168);
    padding:20px;
}

.footer{
    margin-top:40px;
    padding:10px;
  background:rgb(221, 221, 221);   
}

.yellow{
    background: lightyellow;
}

.blue{
    background: lightblue;
}

.gray{
    background: #e9ecef;
}

.orange{
    background: SandyBrown ;
}