/* 在這邊寫css */
.text-center{
    text-align: center;
}

.text-white{
    color: white;
}

* {
    font-family: Microsoft Jhenghei;
}

body {
    background: #364F6B;
}



#portfolio-column {
    padding: 50px 0 50px 0;
    background: #3FC1C9;
}

.portfolio {
    background: #F5F5F5;
    color: black;
    min-height: 300px;
    padding: 20px;
    border: #364F6B solid 1px;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.portfolio:link {
    color: black;
    text-decoration: none;
}

.portfolio:visited {
    color: black;
    text-decoration: none;
}

.portfolio:hover {
    color: black;
    border: #FC5185 solid 3px;
    text-decoration: none;
}

.portfolio:active {
    color: black;
    text-decoration: none;
}

.header {
    padding: 50px;
    min-height: 300px;
    background: url('images/cover.jpg');
    margin-bottom: 50px;
}

.circle {
    border-radius: 50%;
    border: #F5F5F5 solid 3px;
}


#intro-column {
    background: #F5F5F5;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px #C5C5C5;
    padding: 20px;
}

.footer {
    padding: 10px;
    background: #FC5185;
    color: #F5F5F5;
}

.footer a{
    color:#364F6B;
    text-decoration: underline;
}

.yellow {
    background: lightyellow;
}

.blue {
    background: lightblue;
}

.gray {
    background: #e9ecef;
}

.orange {
    background: SandyBrown;
}

.white{
    background: white;
}